<html>
<head>
  <script src="/socketwrench.js"></script>
</head>
<body>
<script>
  socket = SocketWrench.create("localhost", "9001", "test");
  socket.on("update", function (data) {
      console.log(JSON.stringify(data));
  });
</script>
<a href="#" onclick='socket.send("update", "test");'>Click me!</a>
</body>
</html>