<html>
<head>
  <script src="/socketwrench.js"></script>
</head>
<body>
<a href="#" onclick='socket.send("update", "test");'>Click me!</a>
<div id="log">

</div>
<script>
    socket = SocketWrench.create("localhost", "9001", "test");
    socket.on("update", function (data) {
        document.getElementById("log").innerHTML = document.getElementById("log").innerHTML + "<br>" + (JSON.stringify(data));
    });
</script>
</body>
</html>